* {
  box-sizing: border-box;
}

.Box {
  width: inherit;
  height: auto;
  padding-bottom: 30px;
}

.Box form {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 10px;
  height: 100%;
  width: calc(100% - 50px);
  margin: 0 auto;
}

input,
button {
  border: none;
  outline: none;
}

.Box form input[type="text"] {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  width: min(300px, 400px);
  height: 30px;
  padding-left: 5px;
  background-color: azure;
  -webkit-box-shadow: 5px 5px 13px -4px #000000;
  box-shadow: 5px 5px 13px -4px #000000;
}

.AddBtn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(230, 243, 243);
  -webkit-box-shadow: 5px 5px 13px -4px #000000;
  box-shadow: 5px 5px 13px -4px #000000;
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
}

@keyframes bounce {
  25% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
